/* global style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* Header section */
header{
    background-image: url("./images/banner/banner3.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    width: 100%;
    height: 640px;
}
.header-text-container {
    width: 342px;
    margin-top: 168px;
    float: right;
    text-align: end;
    color: #ffffff;
    margin-right: 135px;
}
.header-text-container h1 {
    color: aliceblue;
    font-weight: 800;
    font-size: 38px;
    line-height: 44px;
}
.header-text-container p {
    margin-top: 20px;
    font-size: 13px;
    color: #f0f8ffdb;
    font-weight: 100;
    text-align: end;
    margin-bottom: 15px;
    line-height: 19px;
}
.btn {
    width: 100px;
    color: #005FAC;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    height: 35px;
    border-radius: 3px;
    border: 0;
}
.btn:hover{
    background-color: transparent;
    border: .5px solid orange;
    color: #ffffff;
}


/* main section */
.person-section {
    display: flex;
    justify-content: center;
    width: 925px;
    align-items: center;
    margin: 76px auto;
}
.main-left img{
    width: 385px;
}
.main-right {
    margin-top: 96px;
    width: 400px;
    margin-left: 66px;
}
.main-right h1 {
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 20px;
}
.description {
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 13px;
}
.i-color {
    color: rgb(22, 230, 161);
    padding: 4px;
    margin-right: 5px;
}

/* my plans section */
.plans-container h1{
    text-align: center;
    margin-top: 20px;
}
.skills-container {
    display: flex;
    /* margin-top: 20px; */
    justify-content: space-between;
    width: 65%;
    margin: 20px auto;
    align-items: center;
}
.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.skill img{
    width: 30%;
}
.skill h2 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}
.skill p{
    font-size: 14px;
}

/* quote section  */
.quote-sectioin {
    position: relative;
    width: 65%;
    margin: 70px auto;
}
.quote-sectioin img{
    width: 100%;
}
.quote-text{
    position: absolute;
    top: 0;
}
.quote-text h1 {
    color: white;
    margin-left: 45px;
    width: 381px;
    margin-bottom: 20px;
    font-size: 28px;
    margin-top: 29px;
}
.quote-text button{
    margin-left: 45px;   
}