/* global style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* Header section */
header {
    background-image: url(./images/banner/banner3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 630px;
}
.header-text-container {
    width: 342px;
    margin-top: 168px;
    float: right;
    text-align: end;
    color: #ffffff;
    margin-right: 135px;
}
.header-text-container h1 {
    color: aliceblue;
    font-weight: 800;
    font-size: 38px;
    line-height: 44px;
}
.header-text-container p {
    margin-top: 20px;
    font-size: 13px;
    color: #f0f8ffdb;
    font-weight: 100;
    text-align: end;
    margin-bottom: 15px;
    line-height: 19px;
}
.btn {
    width: 100px;
    color: #005FAC;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    height: 35px;
    border-radius: 3px;
    border: 0;
}
.btn:hover{
    background-color: transparent;
    border: .5px solid orange;
    color: #ffffff;
}


/* main section */
.person-section {
    display: flex;
    justify-content: center;
    width: 925px;
    align-items: center;
    margin: 76px auto;
}
.main-left img{
    width: 385px;
}
.main-right {
    margin-top: 96px;
    width: 400px;
    margin-left: 66px;
}
.main-right h1 {
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 20px;
}
.description {
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 13px;
}
.i-color {
    color: rgb(22, 230, 161);
    padding: 4px;
    margin-right: 5px;
}

/* my plans section */
.plans-container h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.skills-container {
    display: flex;
    /* margin-top: 20px; */
    justify-content: space-between;
    width: 65%;
    margin: 20px auto;
    align-items: center;
}
.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.skill img{
    width: 30%;
}
.skill h2 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}
.skill p{
    font-size: 14px;
}

/* quote section  */
.quote-sectioin {
    position: relative;
    background-image: linear-gradient(to right,rgba(40, 34, 207, 0.425),rgba(207, 207, 238, 0.114)), url(./images/watch.png);
    width: 100%, 100%;
    height: 217px;
    background-position: center;
    border-radius: 7px;
    margin: 70px auto;
    background-repeat: no-repeat;
    background-size: 65%;
}

.quote-text h1 {
    color: white;
    position: absolute;
    top: 13%;
    width: 30%;
    left: 20%;
}
.quote-text button {
    position: absolute;
    top: 58%;
    left: 20%;
}
/* footer section */
footer{
    background-color: #151414;
    display: flex;
    padding-bottom: 10%;
}
.footer-left {
    width: 40%;
    margin-top: 10%;
    margin-left: 15%;
    color: white;
}
.footer-left h1{
    margin-bottom: 20px;
}
.footer-left p {
    width: 75%;
    margin-bottom: 20px;
}
.icons {
    display: flex;
    justify-content: start;
}
.icons img {
    margin-right: 13px;
    width: 33px;
    cursor: pointer;
}

.footer-right{
    color: white;
    margin-top: 10%;
    margin-left: 6%;
}
.footer-right h1{
    margin-bottom: 20px;
}
.footer-right input {
    color: white;
    background: transparent;
    margin-bottom: 13px;
    border-radius: 5px;
    padding-left: 20px;
    width: 255px;
    height: 41px;
    border: 0.001px solid white;
}
::placeholder{
    color: white;
}
.btn-sub {
    background-color: #005FAC;
    width: 134px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 17px;
    border-radius: 6px;
    height: 54px;
}
.btn-sub:hover{
    background-color: transparent;
    border: 1px solid white;
}